name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    name: Validate with Hassfest
    steps:
      - name: Checkout the repository
        uses: "actions/checkout@v4"

      - name: Align integration directory
        run: |
          if [ -d "custom_components/kwikset-ha" ]; then
            mv custom_components/kwikset-ha custom_components/kwikset
          fi

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"

  hacs:
    runs-on: "ubuntu-latest"
    name: Validate with HACS
    steps:
      - name: Checkout the repository
        uses: "actions/checkout@v4"

      - name: Align integration directory
        run: |
          if [ -d "custom_components/kwikset-ha" ]; then
            mv custom_components/kwikset-ha custom_components/kwikset
          fi

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
